:root {
  --bkg-color: #f1f3f8;
  --font-color: #555;
  --highlight-color: #4c8bf5;

  --shadow-up: -5px -5px 10px rgba(255, 255, 255, 1),
    5px 5px 20px rgba(0, 0, 0, 0.1),
    inset 5px 5px 10px rgba(255, 255, 255, 0.75),
    inset -5px -5px 20px rgba(0, 0, 0, 0.05),
    inset 2px 2px 2px rgba(255, 255, 255, 0.75),
    inset -2px -2px 2px rgba(0, 0, 0, 0.05);

  --shadow-down: 5px 5px 20px rgba(0, 0, 0, 0.05),
    -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 20px rgba(0, 0, 0, 0.05),
    inset -5px -5px 10px rgba(255, 255, 255, 0.75),
    inset 2px 2px 2px rgba(0, 0, 0, 0.05);

  --shadow-middle: inset 5px 5px 20px rgba(0, 0, 0, 0.05),
    inset -5px -5px 10px rgba(255, 255, 255, 0.75),
    inset 2px 2px 2px rgba(0, 0, 0, 0.05);

  --shadow-card: -5px -5px 10px rgba(255, 255, 255, 1),
    5px 5px 20px rgba(0, 0, 0, 0.1);
}

:root.dark-mode {
  --bkg-color: #32373d;
  --font-color: #d4d5d6;
  --highlight-color: #4c8bf5;

  --shadow-up: -5px -5px 25px rgba(255, 255, 255, 0.1),
    5px 5px 20px rgba(0, 0, 0, 0.4),
    inset 5px 5px 20px rgba(255, 255, 255, 0.05),
    inset -5px -5px 20px rgba(0, 0, 0, 0.3),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset -2px -2px 2px rgba(0, 0, 0, 0.1);

  --shadow-down: 5px 5px 20px rgba(0, 0, 0, 0.4),
    -5px -5px 25px rgba(255, 255, 255, 0.1),
    inset 5px 5px 20px rgba(0, 0, 0, 0.3),
    inset -5px -5px 20px rgba(255, 255, 255, 0.05);

  --shadow-middle: inset 5px 5px 20px rgba(0, 0, 0, 0.3),
    inset -5px -5px 20px rgba(255, 255, 255, 0.05);

  --shadow-card: -5px -5px 25px rgba(255, 255, 255, 0.1),
    5px 5px 20px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: var(--font-color);
  background-color: var(--bkg-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Menu */
.menu {
  display: none;
  height: 450px;
  position: absolute;
  top: 70px;
  right: 40px;
  z-index: 1;
  border-radius: 20px;
  padding: 1rem;
}

.menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  overflow-y: scroll;
}

.menu hr {
  padding: 1px;
  border: none;
  border-radius: 10px;
  opacity: 1;
  box-shadow: var(--shadow-down);
  margin: 1rem 0;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem 0.5rem;
}

.menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu span {
  padding-top: 0.5rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.menu .fas,
.menu .fab,
.menu .far {
  height: 60px;
  width: 60px;
}

/* Scroll bar */
.menu-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.menu-container::-webkit-scrollbar-track {
  box-shadow: var(--shadow-down);
  border-radius: 10px;
}

.menu-container::-webkit-scrollbar-thumb {
  background: var(--highlight-color);

  border-radius: 10px;
}

/* Nav Bar */
.nav-bar {
  display: flex;
  padding: 1rem 2rem 1rem;
}

.nav-bar ul {
  display: flex;
  align-items: center;
}

.nav-bar ul:last-child {
  margin-left: auto;
}

/* Main */
.main {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.main .logo {
  width: 275px;
  margin-top: 4rem;
}

.main .search-bar {
  width: 100%;
  margin-top: 2rem;
  border-radius: 50px;
}

.search-bar input {
  width: 100%;
  font-size: 1rem;
  color: var(--font-color);
  margin: 0.5rem 0.3rem;
  border: none;
  background-color: transparent;
  outline: none;
}
.search-bar .fas {
  padding: 0.5rem 0.75rem;
}

.fa-microphone:hover {
  color: var(--highlight-color);
}

.main-buttons {
  display: flex;
  padding-top: 2rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0.5rem 1rem;
}

.footer ul {
  display: flex;
  align-items: center;
}

/* Buttons */
.btn-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--font-color);
  background: var(--bkg-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  border: 2px solid var(--bkg-color);
  outline: none;
  white-space: nowrap;
  box-shadow: var(--shadow-up);
}

.btn-up-on {
  color: var(--highlight-color);
  box-shadow: var(--shadow-down);
}

.btn-up:hover {
  cursor: pointer;
  color: var(--highlight-color);
  box-shadow: var(--shadow-down);
}

.btn-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--font-color);
  background: var(--bkg-color);
  background: transparent;
  padding: 0.5rem 0.75rem;
  margin-right: 0.1rem;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  white-space: nowrap;
}

.btn-middle:hover {
  color: var(--highlight-color);
  border: 2px solid var(--bkg-color);
  box-shadow: var(--shadow-middle);
}

.btn-down {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--font-color);
  background: transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  border: 2px solid var(--bkg-color);
  outline: none;
  white-space: nowrap;
  box-shadow: var(--shadow-down);
}

.card {
  background: var(--bkg-color);
  box-shadow: var(--shadow-up);
  border: 2px solid var(--bkg-color);
}

.btn-round {
  padding: 0.6rem;
  border-radius: 50%;
}

.icon-padding {
  margin-right: 0.5rem;
}

.blue-text {
  color: var(--highlight-color);
}

.show {
  display: block !important;
}

/* Media queries */
@media (max-width: 805px) {
  #btn-gmail {
    display: none;
  }

  #btn-images {
    display: none;
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 410px) {
  .menu {
    right: 0;
    width: 100%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .footer ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
